
<div class="container">
  <h3 class="ml-5 mt-5">マイページ</h3>
  <div class="row">
    <div class="col-6">
      <table class="table table-borderless">
        <tr>
          <td><h3>登録情報</h3></td>
          <td><%= link_to "編集する", edit_public_customers_path, method: :get, class:"btn btn-success" %></td>
        </tr>
      </table>

     <table class="table mt-2 border">
       <tr><th class="bg-light border">氏名</th><td><%= @customer.full_name %></td></tr>
       <tr><th class="bg-light border">カナ</th><td><%= @customer.full_name_kana %></td></tr>
       <tr><th class="bg-light border">郵便番号</th><td><%= @customer.postal_code %></td></tr>
       <tr><th class="bg-light border">住所</th><td><%= @customer.address %></td></tr>
       <tr><th class="bg-light border">電話番号</th><td><%= @customer.telephone_number %></td></tr>
       <tr><th class="bg-light border">メールアドレス</th><td><%= @customer.email %></td></tr>
     </table>
    </div>
  </div>
  <div class="row-8">
    <div class="col-4 mt-4">
      <table class="table table-borderless">
        <tr>
          <td><h3>配送先</h3></td>
          <td><%= link_to "一覧を見る", public_addresses_path, class:"btn btn-primary" %></td>
        </tr>
        <tr>
          <td><h3>注文履歴</h3></td>
          <td><%= link_to "一覧を見る", public_orders_path, class:"btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>