<div class="container">
  <h2><%= @customer.first_name + @customer.last_name %>さんの会員情報編集</h2>
  <div class="row">
    <div class="col">
       <%= form_with model: [:admin, @customer], local: true do |f| %>
      <table class="table">
        <tr><td>会員ID</td><td></td></tr>
        <tr><td>氏名</td>
        <td><%= f.text_field :last_name, placeholder: @customer.last_name %></td>
        <td><%= f.text_field :first_name, placeholder: @customer.first_name %></td></tr>

        <tr><td>フリガナ</td>
        <td><%= f.text_field :last_name_kana, placeholder: @customer.last_name_kana %></td>
        <td><%= f.text_field :first_name_kana, placeholder: @customer.first_name_kana %></td></tr>
        <tr><td>郵便番号</td><td><%= f.text_field:postal_code, placeholder:  @customer.postal_code %></td></tr>
        <tr><td>住所</td><td><%= f.text_field:address, placeholder:  @customer.address %></td></tr>
        <tr><td>電話番号</td><td><%= f.text_field:telephone_number, placeholder:  @customer.telephone_number %></td></tr>
        <tr><td>メールアドレス</td><td><%= f.text_field:email, placeholder:  @customer.email %></td></tr>
        <tr><td>会員ステータス</td><td></td></tr>
        <tr><td></td><td><%= f.submit "変更を保存", class:"btn btn-success" %></td></tr>
      </table>
       <% end %>

    </div>
  </div>
</div>
