<div class="container">

  <div class="row">

    <div class="col-6">
    <h2 class="mt-5 ml-5">注文履歴詳細</h2>
    <table class="table table-borderless">
      <tr><th>購入者</th><td><%= @order.customer.full_name %></td></tr>
      <tr><th>注文日</th><td><%= @order.created_at.strftime("%Y/%m/%d") %></td></tr>
      <tr><th>配送先</th><td><%= @order.address_display_order %></td></tr>
      <tr><th>支払方法</th><td><%= @order.payment_i18n %></td></tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with url: admin_order_path, method: :patch, local: true do |f| %>
          <%= f.select :status, Order.statuses.keys.map { |k| [I18n.t("enums.order.status.#{k}"),k]} %>
          <%= f.submit "更新", class:"btn btn-success" %>
        </td>
        <td>

        </td>
        <% end %>
      </tr>
    </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.each do |detail| %>
        <tr>
         <td><%= detail.item.name %></td>
         <td><%= detail.purchase_price.to_s(:delimited) %></td>
         <td><%= detail.amount %></td>
         <td><%= detail.price_total.to_s(:delimited) %></td>
         <td>
           <%= form_with url: admin_order_detail_path, method: :patch, local: true do |f| %>
           <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |k| [I18n.t("enums.order_detail.making_status.#{k}"),k]} %>
         <td>
           <%= f.submit "更新", class:"btn btn-success" %>
         </td>
        </tr>
           <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col-4 ml-3">
        <table class="table table-borderless align-items-end">
          <tr><th>商品合計</th><td><%= @order.billing_amount.to_s(:delimited) %>円</td></tr>
          <tr><th>送料</th><td><%= @order.postage %>円</td></tr>
          <tr><th>請求合計金額</th><td><%= @order.order_total.to_s(:delimited) %>円</td></tr>
        </table>
    </div>
  </div>
</div>