<div class="container">
  <div class="row">
    <div class="col-9 mt-5">
      <h2>配送先登録/一覧</h2>
       <%= form_with model: @address, local: true do |f| %>

        <table class="table mt-5 table-borderless">
          <tr><td>郵便番号(ハイフンなし)</td><td><%= f.text_field :postal_code %></td></tr>
          <tr><td>住所</td><td><%= f.text_field :addresses, size: "40" %></td></tr>
          <tr><td>宛名</td><td><%= f.text_field :name %></td><td></td><td><%= f.submit "新規登録", class:"btn btn-success" %></td></tr>
        </table>
         <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <table class="table">
        <thead class="bg-light">
          <th class="border">郵便番号</th>
          <th class="border">住所</th>
          <th class="border">宛名</th>
          <th class="border"></th>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td class="border"><%= address.postal_code %></td>
            <td class="border"><%= address.addresses %></td>
            <td class="border"><%= address.name %></td>
            <td class="border">
              <%= link_to "編集する", edit_address_path(address), method: :get, class:"btn btn-success" %>
              <%= link_to "削除する", address_path(address), method: :delete, class:"btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>