<div class="container mt-5">
  <h3>管理者ログイン</h3>
  <div class="row">
    <div class="col-5 mt-5 center">
      <table class="table table-borderless">
        <%= form_with(model: resource,scope: resource_name, url: session_path(resource_name)) do |f| %>

        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class:"btn btn-primary" %></td>
        </tr>


        <% end %>
      </table>
    </div>
  </div>
</div>
