
<div class="container">
  <h1 class="mt-5">新規会員登録</h1>
  <div class="row">
    <div class="col-8 mt-5">
      <%= form_with model: @customer, url: '/public/customers', local: true do |f| %>
      <table class="table">
        <tr>
          <td>名前</td>
          <td>(姓)　<%= f.text_field :last_name %></td>
          <td>(名)　<%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td>(セイ)<%= f.text_field :last_name_kana %></td>
          <td>(メイ)<%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email %></td>
          <td></td>
        </tr>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code %></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
          <td></td>
        </tr>
        <tr>
          <td>電話番号(ハイフンなし)</td>
          <td><%= f.text_field :telephone_number %></td>
          <td></td>
        </tr>
        <tr>
          <td>パスワード(６文字以上)</td>
          <td><%= f.password_field :password %></td>
          <td></td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td><%= f.password_field :password_confirmation %></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "新規登録", class:"btn btn-primary" %></td>
          <td></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
<%= render "public/customers/shared/links" %>