<h1>Public::Sessions#new</h1>
<p>Find me in app/views/public/sessions/new.html.erb</p>

<div class="container">
  <h2 class="mt-5">ログイン</h2>
  <div class="row">
    <div class="col">
      <%= form_with model: @customers, url: '/public/customers/sign_in', local: true do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autocomplete: "namw" %>
      </div>
      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="action">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "public/shared/links" %>