<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div>
          <%= link_to "About", about_path, method: :get %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
　　　　　<%= link_to "ログイン", admin_session_path, method: :get %>
　　　　　<%#= link_to "商品一覧", controller: "items", action: "index" %>
　　　　　<%#= link_to "会員一覧", controller: "customers", action: "index" %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
